<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="toolbar-start-button" slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <app-custom-ion-searchbar routerLink="/search"></app-custom-ion-searchbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/messages">
        <ion-icon name="chatbubble-ellipses" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
