@mixin notification-container-expanded {
  position: absolute;
  top: 110%;
  right: 5px;
  border: 2px solid rgb(var(--bs-body-color-rgb));
  border-radius: 10px;
  width: 356px;
  padding: 10px;
  background-color: rgb(var(--bs-body-bg-rgb));
}

@mixin notification-container-collapsed {
  position: inherit;
  //top: 133px;
  //border: 2px solid #2b2b31;
  //border-radius: 10px;
  //width: 350px;
  //padding: 10px;
  //background-color: #2b2b31;
}

.notification-container {
  @media (min-width: 992px) {
    @include notification-container-expanded;
  }

  @media (max-width: 991px) {
    @include notification-container-collapsed;
  }
}

.notification-item {
  border-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
  padding: 12px;
  border-radius: 12px;
}

.notification-item-body {
  display: flex;
}

.notification-item-footer {
  display: flex;
}

.notification-image {
}

.notification-text {
  margin-left: 10px;
  margin-bottom: 0;
}

.time-ago {
  padding-top: 10px;
  padding-left: 3px;
  color: rgba(255, 255, 255, 0.5);
}

.bell-light {
  position: absolute;
  top: 22px;
  right: 50px;
}
