<div class="row mt-3">
  <div class="col">
    <div class="d-flex">
      <div class="mx-auto">
        <img ngSrc="assets/profile-image-placeholder.jpg" width="150" height="150" alt="Profile image" priority>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="d-flex">
      <div class="mx-auto">
        <h1>{{ profileInfo.value.first_name }} {{ profileInfo.value.last_name }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="d-flex">
      <div class="mx-auto">
        <p>{{ profileInfo.value.email }}</p>
      </div>
    </div>
  </div>
</div>

<div>
  <app-profile-segment [profileFields]="profileFields" [profilePosts]="profilePosts"></app-profile-segment>
</div>

