<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">LOGO</a>
    <form class="d-flex mx-auto" role="search">
      <div class="input-group">
        <input class="form-control green-outline" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
          </svg>
        </button>
      </div>
    </form>
    <div class="dropdown text-end">
      <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-block link-body-emphasis text-decoration-none">
        <img [ngSrc]="profileImage" alt="Profile photo" width="32" height="32" class="rounded-circle" priority>
      </a>
    </div>
  </div>
</nav>
