<app-login-form (loginFormEmitter)="emailPasswordLogin($event)"
                (googleLoginEmitter)="googleLogin($event)"></app-login-form>

<div *ngIf="isIonic() && !isMobileWeb(); else desktop">
</div>

<ng-template #desktop>
  <div class="mt-2 d-flex" style="position: relative">
    <div id="ion-mask" [class]="'iframe-mask-ion ' + googleButtonClass + ' ' + maskClass"></div>
    <div id="google-button" [class]="'mx-auto ' + googleButtonClass" [style.visibility]="googleButtonVisibility">
    </div>
  </div>
</ng-template>
