<ion-list lines="full" *ngIf="isOwnProfile(); else NotOwn">
  <ion-item *ngFor="let i of profilePosts.value">
    <app-post-owned
      [id]="i.id"
      [user_id]="i.user_id"
      [content]="i.content"
      [created_at]="i.created_at"
      class="w-100"
      (postDeleted)="getAllPostsOfCurrentUser()"
    ></app-post-owned>
  </ion-item>
</ion-list>

<ng-template #NotOwn>
  <ion-list lines="full">
    <ion-item *ngFor="let i of profilePosts.value">
      <app-post-connected
        [id]="i.id"
        [user_id]="i.user_id"
        [content]="i.content"
        [created_at]="i.created_at"
        class="w-100"
      ></app-post-connected>
    </ion-item>
  </ion-list>
</ng-template>

<div id="space" style="height: 140px"></div>
