.floating-label-input {
  padding-top: 5px !important;
  margin-bottom: 5px;
}

.block-button {
  margin-right: 16px;
  margin-left: 16px;
}

.show-hide-password-button {
  position: absolute;
  right: 0.9rem;
  z-index: 1000;
}
