<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-input #searchInput id="search-input" (input)="searchUser()" placeholder="Search" [formControl]="searchQuery"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item (click)="goToProfile(i.user_id)" *ngFor="let i of searchResults">
      <ion-label class="d-flex align-items-center">
        <img src="assets/profile-image-placeholder.jpg" width="40" height="40">
        <div>
          <h1 class="ms-3">{{i.first_name}} {{i.last_name}}</h1>
          <p class="ms-3">{{i.email}}</p>
        </div>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
