.link-white {
  color: rgb(var(--bs-body-color-rgb));
}
.link-white:hover {
  color: rgb(var(--bs-body-color-rgb));
}
.link-white:active {
  color: rgb(var(--bs-body-color-rgb));
}
@media (max-width: 991px) {  /* Replace with your desired breakpoint */
  #offcanvasBody {
    display: flex;
    flex-direction: column;
  }
}
