<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile">
        <ion-icon name="person" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-custom-ion-searchbar routerLink="/search"></app-custom-ion-searchbar>
    <ion-buttons slot="end">
      <ion-icon name="chatbubble-ellipses" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="connections">
      <ion-icon name="people"></ion-icon>
      Network
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      Notifications
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
