<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="toolbar-start-button" slot="start">
      <ion-button routerLink="/profile">
        <ion-icon name="person" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-custom-ion-searchbar routerLink="/search"></app-custom-ion-searchbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/messages">
        <ion-icon name="chatbubble-ellipses" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="connections">
        <ion-icon name="people"></ion-icon>
        Network
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        Notifications
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
