img {
  border-radius: 50%;
}
.full-name {
  font-size: 22px;
}
.post-content {
  margin-top: 9px;
  padding-top: 7px;
  font-size: 18px;
  font-family: sans-serif;
  font-style: italic;
}
.created-at{
  font-size: 14px;
  color: #8c8c8c;
}
