<div class="background-img">
  <img class="placeholder-background-img" src="../../../../assets/placeholder-image.svg" alt="...">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <div class="profile-img">
        <img src="assets/placeholder-profile.png" alt="...">
      </div>
    </div>
    <div class="col mt-3">
      <h1 class="h1">{{user.first_name}} {{user.family_name}}</h1>
    </div>
  </div>
</div>
<div style="width: 100%; height: 2px; background-color: #0dcaf0; margin-top: 1rem;" hidden></div>
